* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  /* a medida sera feita atrás da borda*/
}

:root {
  --text-color: #ffffff;
  --bg-url: linear-gradient(-225deg, #000000 0%, #422758 52%, #12334b 100%);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);

}

.light {
  --text-color: #000000;
  --bg-url: linear-gradient(-225deg, #ffffff 0%, #d4aff3 52%, #cce0ee 100%);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);

}

body {
  /*background-image: url(./assets/bg-mobile1.png.png);*/
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  /*cobre todo o espaço da tela*/

  /* background: url(./assets/bg-mobile.jpg no-repeat top center/cover
  tudo dentro de uma propriedade só*/
}

body * {
  font-family: 'inter';
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto auto auto;
  padding: 0 24px;
  
}

/*profile*/
#profile {
  text-align: center;
  padding: 24px;

}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px
}

/*switch*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  display: block;
  border-radius: 9999px;
}

/* lista de links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  margin-top: 24px;
}

ul li a {
  align-items: center;
  color: inherit;
  background: var(--surface-color); /*red green blue alpha (transparencia)*/
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  --webkit-backdrop-filter: blur(14px);
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

ul li a:hover{
  background: var(--surface-color-hover); /*red green blue alpha (transparencia)*/
  border: 1.5px solid var(--text-color);
}

/*social links*/

#social-links {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.5s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries - não necessárias alterações por não ser usada imagem

@media (min-width: 700px) {
  :root {
    --bg-url: url(./asssets/bg-mobile.png.png)
  }
  .light {
    --bg-url: url(.assets/bg-mobile.png.png)
  }
} */
